@import "../variables";

.features {
  display: flex;
  flex-direction: column;
}

.features__item {
  &_first-child {
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 38px;
      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
    }
  }
}

@media (min-width: $tablet-width) {
  .features {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .features__item {
    &_first-child {
      &::before {
        display: none;
      }
    }
  }
}
