@import "../variables";

.feature {
  background-color: $block-bg-color;

  &_inactive {
    background-color: $grey;

    &::after {
      content: "";
      display: block;
      height: 1px;
      margin: 0 20px;
      background-color: $dark-grey;
    }

    &:last-child::after {
      background-color: inherit;
    }
  }
}

.feature__header {
  margin: 45px 20px 42px;
}

.feature_inactive > .feature__header {
  margin: 33px 20px 32px;
}

.feature__content-container {
  display: flex;
  flex-direction: column;
  background-color: $page-bg-color;
}

.feature__content {
  align-self: center;
}

@media (min-width: $tablet-width) {
  .feature {
    display: flex;
    flex-wrap: wrap;

    &:not(.feature_inactive) {
      width: 100%;
    }

    &_inactive {
      width: 33.3%;
      flex-grow: 1;

      &::after {
        display: none;
      }
    }
  }

  .feature__header,
  .feature_inactive > .feature__header {
    margin: initial;
  }

  .feature__header {
    flex-grow: 1;
  }

  .feature__preview {
    flex-grow: 3;
  }

  .feature__content {
    margin: 63px 0;
  }
}
