@import "../variables";

.feature-preview {
  height: 260px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: cover;
  overflow: hidden;
}

.feature-preview img {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .feature-preview {
    width: 495px;
    min-height: 256px;

    &_order_first {
      order: -1;
    }
  }
}
