@import "../variables";

.feature-preview {
  height: 256px;
}

@media (min-width: $tablet-width) {
  .feature-preview {
    width: 495px;
    min-height: 256px;

    &_order_first {
      order: -1;
    }
  }
}
