.feature-content-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 0;
  padding-left: 50px;
}

.feature-content-item__title {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -50%;
    right: 100%;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  &_house::before {
    width: 37px;
    height: 36px;
    background-image: url("../img/icon-house.svg");
  }

  &_gift::before {
    width: 32px;
    height: 38px;
    background-image: url("../img/icon-gift.svg");
  }

  &_food::before {
    width: 40px;
    height: 35px;
    background-image: url("../img/icon-burger.svg");
  }
}

.feature-content-item__description {
  margin-top: 20px;
}
