@import "../variables";

.feature {
  background-color: $block-bg-color;

  &_inactive {
    background-color: $grey;

    &::after {
      content: "";
      display: block;
      height: 1px;
      margin: 0 20px;
      background-color: $dark-grey;
    }
  }

  &_inactive-last {
    &::after {
      background-color: transparent;
    }
  }
}

.feature__header {
  margin: 41px 20px 40px;

  &_inactive {
    margin: 28px 33px 26px;
  }
}

.feature__content-container {
  display: flex;
  flex-direction: column;
  background-color: $page-bg-color;
}

.feature__content {
  align-self: center;
}

@media (min-width: $tablet-width) {
  .feature {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &_inactive {
      width: 33.3%;
      flex-grow: 1;

      &::after {
        display: none;
      }
    }
  }

  .feature__header,
  .feature__header_inactive {
    margin: 0;
  }

  .feature__header {
    flex-grow: 1;
  }

  .feature__preview {
    flex-grow: 3;
  }

  .feature__content {
    margin: 63px 0;
  }
}
