@import "../variables";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58px;
  font-family: $font-family-bold;
  font-size: $title-size-base;
  color: $button-text-color-base;
  text-transform: uppercase;
  background-color: $button-bg-color-base;

  &_border-reset {
    border: none;
  }

  &_nav {
    box-sizing: content-box;
    height: 55px;
    letter-spacing: 0.1px;
  }

  &_social {
    width: 46px;
    height: 48px;
  }

  &_size_medium {
    width: 180px;
  }

  &_size_large {
    width: 280px;
  }

  &_submit {
    font-size: $title-size-increased;
  }

  &:hover {
    color: $button-text-color-hover;
    background-color: $grey-blue;
  }

  &:active {
    color: $button-text-color-down;
    background-color: $button-bg-color-down;
  }

  &:disabled {
    color: $button-text-color-disabled;
    background-color: $button-bg-color-disabled;
  }
}

@media (min-width: $tablet-width) {
  .button {
    &_size_large {
      width: 458px;
    }

    &_submit {
      width: 324px;
    }

    &_nav {
      width: 153px;
      font-size: $text-size-base;
      color: $nav-link-text-color-base;
    }

    &_nav,
    &_nav:hover,
    &_nav:active {
      background-color: $page-bg-color;
    }

    &_nav-base {
      &:hover {
        color: $link-text-color-hover;
      }

      &:active {
        color: $nav-link-text-color-down;
      }
    }

    &_nav-visited {
      color: $nav-visited-link-text-color-base;

      &:hover {
        color: $nav-visited-link-text-color-hover;
      }

      &:active {
        color: $nav-visited-link-text-color-down;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    &_submit {
      width: 480px;
    }

    &_nav {
      width: 239px;
    }
  }
}
