@import "../variables";

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__caption {
  margin-bottom: 7px;
}

.copyright__link {
  margin-left: 11px;
}

.copyright__image {
  fill: $nav-link-text-color-base;

  &:hover {
    fill: $link-text-color-hover;
  }

  &:active {
    fill: $nav-link-text-color-down;
  }
}
