@import "../variables";

.demo__preview {
  margin: 0 auto;
}

.demo__header {
  margin: 32px 42px 35px;
}

@media (min-width: $tablet-width) {
  .demo__preview {
    margin-top: 71px;
  }

  .demo__header {
    margin: 37px 168px 35px;
  }
}
