@import "../variables";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black-30;

  &_hide {
    display: none;
  }

  &_show {
    display: flex;
  }
}
