@import "../variables";

.search {
  padding-bottom: 10px;
  text-align: center;
}

.search__header {
  padding: 28px 20px 49px;
}

.search__title {
  line-height: 1.24;
}

.search__description {
  margin-top: 21px;
  line-height: 1.71;
}

.search__button {
  margin: 36px auto 0;
  letter-spacing: 1.8px;
}

@media (min-width: $tablet-width) {
  .search__header {
    padding: 49px 155px;
  }

  .search__description {
    margin-top: 26px;
  }

  .search__button {
    margin-top: 43px;
  }

  .search__preview {
    margin-top: 10px;
  }
}
