@import "../variables";

.socials,
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__link {
  &:active .socials__logo {
    opacity: 0.3;
  }
}

.socials__item {
  margin-right: 6px;

  &_last-child {
    margin-right: 0;
  }
}
