@import "../variables";

.title {
  font-family: $font-family-bold;
  font-size: $title-size-base;

  &_medium,
  &_increased {
    font-size: $title-size-increased;
  }

  &_lowercase {
    text-transform: initial;
  }

  &_secondary {
    font-size: $title-size-secondary;
  }
}

@media (min-width: $tablet-width) {
  .title {
    font-size: $title-size-increased;

    &_page_photo,
    &_increased {
      font-size: $title-size-large;
    }

    &_decorative_lines {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::before,
      &::after {
        content: "";
        display: block;
        width: 19%;
        height: 1px;
        background-color: $separate-line-bg;
      }

      &::before {
        margin-right: 30px;
      }

      &::after {
        margin-left: 30px;
      }
    }

    &_secondary {
      font-size: $title-size-secondary;
    }
  }
}

@media (min-width: $desktop-width) {
  .title {
    &_decorative_lines {
      &::before,
      &::after {
        width: 30%;
      }

      &::before {
        margin-right: 50px;
      }

      &::after {
        margin-left: 50px;
      }
    }

    &_secondary {
      font-size: $title-size-secondary;
    }
  }
}
