@import "../variables";

.title {
  font-family: $font-family-bold;
  font-size: $title-size-base;

  &_increased {
    font-size: $title-size-increased;
  }

  &_lowercase {
    text-transform: initial;
  }

  &_secondary {
    font-size: $title-size-secondary;
  }
}
