@import "../variables";

.media-info__rating {
  margin-top: 11px;
}

@media (min-width: $tablet-width) {
  .media-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 20px;
    padding-right: 30px;
    background-color: $light-grey;

    &_first {
      padding-right: 21px;
    }

    &_specific {
      background-color: $grey;
      padding-right: 37px;
    }
  }

  .media-info__rating {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .media-info {
    color: $page-text-color-inverse;
    background-color: $black-30;
  }
}
