@import "../variables";

.rating {
  display: flex;
  align-items: flex-end;
}

.rating__icon {
  margin-right: 13px;
}

@media (min-width: $tablet-width) {
  .rating__icon {
    margin-right: 9px;
  }
}
