@import "../variables";

.rating__like-action {
  position: relative;
  display: inline-block;
  margin-right: 35px;
}

.rating__like-icon {
  position: absolute;
  bottom: -4px;
}

@media (min-width: $desktop-width) {
  .rating > .rating__score {
    color: $page-text-color-inverse;
  }
}
