@import "../variables";

.player-progress-bar {
  display: flex;
  width: 280px;
  height: 45px;
  background-color: $black;
  opacity: 0.6;
}

.player-progress-bar__item {
  flex-grow: 1;
  margin: 0 22px;
}
