@import "../variables";

.player-action {
  cursor: pointer;
  height: 20px;
  padding: 0;
  fill: $dull-grey;
  outline: none;
  border: none;
  background: none;

  &_replay {
    width: 16px;
  }

  &_subtitles {
    width: 32px;
  }

  &_fullscreen {
    width: 20px;
  }

  &:hover {
    fill: $black-medium;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .player-action {
    fill: $button-text-color-base;

    &:hover {
      fill: $button-text-color-base;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
