@import "../variables";

.player-progress-bar {
  display: flex;
  width: 280px;
  background-color: $black;
  opacity: 0.6;
}

.player-progress-bar__item {
  flex-grow: 1;
  margin: 0 22px;
  padding: 12px 0;
}

@media (min-width: $tablet-width) {
  .player-progress-bar {
    width: 390px;
    background-color: unset;
  }

  .player-progress-bar__item {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .player-progress-bar {
    width: 540px;
    background-color: unset;
  }
}
