@import "../variables";

.promo-image {
  position: relative;
  height: 389px;
  padding-top: 89px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }

  &_secondary {
    height: 157px;
    padding-top: 51px;
    background-position: bottom;
    background-size: auto;
  }
}

.promo-image__text {
  margin: 0 auto;
}

.promo-image__decorative {
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (min-width: $tablet-width) {
  .promo-image {
    height: 518px;
    padding-top: 78px;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }

    &_secondary {
      height: 291px;
      margin-bottom: 18px;
      padding-top: 95px;
      background-size: cover;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo-image {
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    &_secondary {
      height: 302px;
      padding-top: 103px;
      margin-bottom: 54px;
    }
  }
}
