@font-face {
  font-family: "PTSans-Regular";
  src: local("PT Sans"),
    local("PT Sans Regular"),
    local("PTSans-Regular"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSans-Bold";
  src: local("PT Sans"),
    local("PT Sans Bold"),
    local("PTSans-Bold"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}
