@import "common";
@import "fonts";
@import "main-navigation-blocks/main-navigation";
@import "main-navigation-blocks/main-navigation-list";
@import "main-navigation-blocks/toggle-button";
@import "other-blocks/logo";
@import "other-blocks/promo-image";
@import "page-blocks/page-body";
@import "page-blocks/page-header";
@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: $page-text-color-secondary;
}

ul {
  list-style: none;
}

button {
  background: none;
}
