@import "common";
@import "fonts";
@import "feature-blocks/features";
@import "feature-blocks/feature";
@import "feature-blocks/feature-item";
@import "feature-blocks/feature-content";
@import "feature-blocks/feature-preview";
@import "form-blocks/form";
@import "form-blocks/form-control";
@import "form-blocks/form-controls";
@import "form-blocks/form-field-text";
@import "form-blocks/form-field-textarea";
@import "form-blocks/form-section";
@import "main-navigation-blocks/main-navigation";
@import "main-navigation-blocks/main-navigation-container";
@import "main-navigation-blocks/toggle-button";
@import "media-blocks/media-image-container";
@import "media-blocks/media-info";
@import "media-blocks/media-info-title";
@import "media-blocks/media-item";
@import "media-blocks/rating";
@import "media-blocks/rating-icon";
@import "other-blocks/button";
@import "other-blocks/copyright";
@import "other-blocks/demo";
@import "other-blocks/logo";
@import "other-blocks/map-preview";
@import "other-blocks/popup";
@import "other-blocks/promo-image";
@import "other-blocks/search";
@import "other-blocks/section-header";
@import "other-blocks/section-list";
@import "other-blocks/socials";
@import "other-blocks/text";
@import "other-blocks/title";
@import "page-blocks/page-body";
@import "page-blocks/page-footer";
@import "page-blocks/page-header";
@import "page-blocks/page-main";
@import "player/player-action";
@import "player/player-control-panel";
@import "player/player-progress-bar";
@import "player/video-player";
@import "player/video-preview";
@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: $page-text-color-secondary;
}

ol,
ul {
  list-style: none;
}

button {
  background: none;
}
