@import "../variables";

.page-body {
  width: auto;
  max-width: $desktop-width;
  min-width: $page-min-width;
  margin: 0 auto;
  font-family: $font-family-regular;
  font-size: $text-size-base;
  color: $page-text-color-secondary;
  text-transform: uppercase;
  box-shadow: 0 5px 15px 0 $page-shadow-color;
}

@media (min-width: $desktop-width) {
  .page-body {
    background-color: $page-outer-bg-color;
  }
}
