@import "../variables";

.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 233px;
  padding: $base-padding;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    min-height: 120px;
    padding: 36px 20px;
  }
}
