@import "../variables";

.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 233px;
  padding: 5px 20px 0;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    min-height: 120px;
    padding: 36px 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 36px 120px;
  }
}
