@import "../variables";

.page-main {
  background-color: $page-bg-color;
}

.page-main__media-list {
  margin-top: 27px;
}

@media (min-width: $tablet-width) {
  .page-main__media-list {
    margin: 0 auto;
  }
}
