@import "../variables";

.page-main__header {
  margin: 39px 25px 5px;

  &_page_form {
    margin: 39px 20px 15px;
  }
}

.page-main__media-list {
  margin-top: 26px;
}

.page-main__demo {
  margin-bottom: 49px;
}

@media (min-width: $tablet-width) {
  .page-main__header {
    margin: 49px 135px 50px;
  }

  .page-main__media-list {
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-main__header {
    margin: 51px 353px 55px;
  }
}
