@import "../variables";

.page-main {
  background-color: $page-bg-color;
}

.page-main__demo,
.page-main__media-list,
.page-main__form {
  background-color: inherit;
}

@media (min-width: $tablet-width) {
  .page-main__media-list {
    margin: 0 auto;
  }
}
