@import "../variables";

.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  background-color: $page-bg-color;

  &_secondary {
    padding-top: 5px;
  }
}

.page-footer__title {
  margin-top: 20px;
}

.page-footer__socials {
  margin-top: 38px;
}

.page-footer__copyright {
  margin-top: 40px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    min-height: 120px;
    padding: 8px 60px 36px;

    &_secondary {
      padding-top: 16px;
    }
  }

  .page-footer__title,
  .page-footer__socials,
  .page-footer__copyright {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 15px 120px 41px;

    &_secondary {
      padding-top: 18px;
    }
  }
}
