@import "../variables";

.form {
  padding-bottom: 47px;
}

.form__submit {
  margin: 0 auto;
}

.form__caption {
  display: none;
}

.form__bottom {
  margin-top: 18px;
}

@media (min-width: $tablet-width) {
  .form {
    padding: 24px 60px 47px;
  }

  .form__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
  }

  .form__submit {
    margin: 0;
  }

  .form__caption {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding: 8px 120px 47px;
  }

  .form__bottom {
    margin-top: 19px;
  }

  .form__submit {
    font-size: $title-size-increased;
  }
}
