@import "../variables";

.form-section {
  width: 100%;
  padding: 0 20px;
}

.form-section__title {
  margin-bottom: 22px;
  text-align: center;
  line-height: 1.44;
}

.form-section__control-list {
  &_field-opinion {
    margin: -2px 0 4px;
  }

  &_field-places {
    margin-top: -6px;
  }
}

@media (min-width: $tablet-width) {
  .form-section {
    position: relative;

    &_half-width {
      width: 50%;
    }

    &_decorative_left-line {
      padding-left: 58px;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background-color: $separate-line-bg;
      }
    }
  }

  .form-section__title {
    &_align_left {
      text-align: left;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-section__control-list {
    margin-top: 60px;
  }
}
