@import "../variables";

.form {
  padding-bottom: 47px;
}

.form__submit {
  margin: 0 auto;
}

.form__caption {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    padding: 0 60px 47px;
  }

  .form__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form__submit {
    margin: 0;
  }

  .form__caption {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding: 0 120px 47px;
  }
}
