@import "../variables";

.form-field-textarea {
  width: 280px;
  height: 160px;
  padding: 13px 20px;
  line-height: 1.44;
  background-color: $form-control-bg-base;
}

@media (min-width: $tablet-width) {
  .form-field-textarea {
    width: 100%;
  }
}
