@import "../variables";

.form-field-text {
  width: 100%;
  height: 58px;
  padding: 0 17px;
  border-width: 4px;
  border-style: solid;
  border-color: $form-control-bg-base;
  background-color: $form-control-bg-base;

  &:hover {
    background-color: $form-control-bg-hover;
    border-color: $form-control-bg-hover;
  }

  &:focus {
    background-color: $form-control-bg-active;
    border-color: $form-control-bg-hover;
  }
}

@media (min-width: $desktop-width) {
  .form-field-text {
    width: auto;
  }
}
