@import "../variables";

.form-control {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  &_field_contacts {
    flex-wrap: wrap;
  }

  &_icon_base {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 58px;
      height: 58px;
      background-color: $form-control-bg-hover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &_icon_phone::after {
    background-image: url("../img/icon-phone.svg");
  }

  &_icon_email::after {
    background-image: url("../img/icon-mail.svg");
  }
}

.form-control__label {
  font-size: $font-size-14;

  &_field_text {
    margin-right: 14px;
    margin-bottom: 14px;

    &:last-child {
      margin-right: 18.5px;
    }
  }

  &_field_contacts {
    margin-left: 22px;
  }

  &_radio,
  &_check {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      box-sizing: border-box;
      display: inline-block;
      width: 51px;
      height: 51px;
      margin-right: 25px;
      border: 17px solid $form-control-bg-base;
      background-color: $form-control-bg-base;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &_radio::before {
    border-radius: 50%;
  }

  &:hover::before {
    border-color: $form-control-bg-hover;
    background-color: $form-control-bg-hover;
  }

  &:active::before {
    border-color: $form-control-bg-down;
    background-color: $black-30;
  }

  &_check:active::before {
    border-color: $form-control-bg-down;
    background-color: $form-control-bg-down;
    background-image: url("../img/tick-copy-7.png");
  }
}

.form-control__field-text {
  flex-grow: 1;
}

.form-control__field-radio,
.form-control__field-check {
  display: none;
}

.form-control__field-radio:checked + .form-control__label_radio::before {
  background-color: $black-medium;
}

.form-control__field-check:checked + .form-control__label_check::before {
  background-image: url("../img/tick-copy-6.png");
}

@media (min-width: $tablet-width) {
  .form-control {
    &_places {
      width: 35%;

      &:nth-child(odd) {
        margin-left: auto;
      }

      &:nth-child(even) {
        margin-right: auto;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .form-control {
    &_field_contacts {
      align-items: baseline;
      flex-wrap: nowrap;
      width: 50%;
    }

    &_places {
      width: auto;

      &:nth-child(odd),
      &:nth-child(even) {
        margin: 0;
      }
    }

    &_icon_phone {
      padding-right: 75px;

      &::after {
        right: 75px;
      }
    }
  }

  .form-control__label {
    &_field_contacts {
      margin-left: 0;
      margin-bottom: 0;
    }
  }

  .form-control__label-visibility-state {
    display: none;
  }
}
